[Unit]
Description=Kanata Service

[Service]
ExecStartPre=/usr/bin/modprobe uinput
ExecStart=/usr/bin/kanata
ExecStartPost=/usr/bin/xmodmap /home/{{ .username }}/.Xmodmap
Restart=no

[Install]
WantedBy=sysinit.target
