[Unit]
Description=Kanshi display profile manager
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
