require("neorg").setup({
    load = {
        ["core.defaults"] = {},
        ["core.concealer"] = {},
        ["core.dirman"] = {
            config = {
                workspaces = {
                    notes = "~/.journal",
                },
                default_workspace = "notes",
            },
        },
        ["core.export"] = {},
        ["core.export.markdown"] = {
            config = {
                extensions = "all",
            }
        }
    },
})

vim.api.nvim_create_autocmd({"Filetype"}, {
  pattern = {"neorg"},
  command = "setlocal ts=2 sw=2",
})
-- Publish blog posts
vim.api.nvim_create_autocmd("BufWritePost", {
    pattern = "public/*.norg",
    callback = function()
        local filepath = vim.fn.expand("%:p")
        if string.match(filepath, "/public/") then
            local filename = vim.fn.expand("%:t:r") .. ".md"
            local destination = '{{ (index (bitwarden "item" .bitwarden.nvim).fields 0).value }}' .. filename
            vim.cmd('Neorg export to-file ' .. destination)
        end
    end,
})
