set my_user={{ .email }}
set my_pass="{{ (bitwarden "item" .bitwarden.google_app_key).login.password }}"

set realname = {{ .name | quote }}
set from = {{ .email }}
set use_from = yes

set smtp_pass = $my_pass
set smtp_url=smtps://$my_user@smtp.gmail.com
set ssl_force_tls = yes

set folder = "{{ .maildir }}/personal"
set mbox_type = "Maildir"
set spoolfile = +inbox
set postponed = "+drafts"
set header_cache = ~/.cache/mutt/personal/headers
set message_cachedir= ~/.cache/mutt/personal/bodies
set smtp_authenticators = 'gssapi:login'
set signature = "~/.config/neomutt/signature-short.personal"
set trash='trash'

unset record

unset move # gmail handles that

unvirtual-mailboxes *
set virtual_spoolfile = yes
set nm_default_url = "notmuch:///home/willian/mail/personal"
virtual-mailboxes "inbox" "notmuch://?query=tag:inbox and to:{{ .email }} or cc:{{ .email }}"
virtual-mailboxes "sent" "notmuch://?query=tag:sent"
virtual-mailboxes "trash" "notmuch://?query=tag:deleted"
virtual-mailboxes "updates" "notmuch://?query=tag:updates"
virtual-mailboxes "forums" "notmuch://?query=tag:forums"
virtual-mailboxes "promotions" "notmuch://?query=tag:promotions"
virtual-mailboxes "important" "notmuch://?query=tag:important"
virtual-mailboxes "social" "notmuch://?query=tag:social"
virtual-mailboxes "personal" "notmuch://?query=tag:personal"
virtual-mailboxes "php-internals" "notmuch://?query=tag:php-internals"
virtual-mailboxes "ocaml" "notmuch://?query=tag:ocaml-github"
virtual-mailboxes "univali" "notmuch://?query=tag:univali"
virtual-mailboxes "linux" "notmuch://?query=tag:linux"
virtual-mailboxes "archive" "notmuch://?query=!tag:inbox"
virtual-mailboxes "spam" "notmuch://?query=tag:spam"
